* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

main {
    background-color: #1f2937;
    background-size: cover;
    height: 75vh;
}

.wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    /* padding: 0 20px; */
    background-color: #1f2937;
    background-size: cover;
    
}

h1 {
    text-align: center;
    color: #c5ecfd;
}

.form-box {
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px;
}

.content {
    display: flex;
    flex-direction: column;
}


.contact-form {
    display: flex;
    flex-direction: column;
    margin-right: 4%;

}

.contact-form, .msg {
    width: 48%;
}

.input, .msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}

.msg textarea {
    height: 212px;

}

.btn {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .form-box {
        flex-direction: column;
    }
    .msg textarea {
        height: 80px;
    }

    .contact-form, .msg {
        width: 100%;
    }

    
}